body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #1C1C1C;  /* 深色背景 */
    color: white;  /* 白色字体 */
}

h1 {
    text-align: center;
    color: white;
}

#video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* 每列宽度最小180px，适应瀑布流 */
    grid-gap: 20px;
    padding: 0;
    margin: 20px auto;
    max-width: 1200px; /* 控制内容最大宽度 */
}

.video-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: #2C2C2C; /* 深色背景 */
    padding-bottom: 10px;  /* 留出空间展示标题 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 阴影效果 */
    text-align: center;  /* 标题居中 */
    height: 300px;
}

.video-cover {
    position: relative;
    width: 100%;
    padding-top: 150%; /* 固定宽高比为1:1.5，保证封面为竖向 */
}

.video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;  /* 顶部圆角 */
}

h3 {
    margin: 10px 0 5px 0;
    font-size: 16px;
    color: #FFF;  /* 确保标题颜色为白色 */
    text-align: center;
}

.video-meta {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #999;
}

.vod-year, .vod-remarks {
    padding: 5px;
}

.footer {
    transition: background-color 0.3s, color 0.3s;
}

.footer.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

.footer.light-mode {
    background-color: #f8f9fa;
    color: #000000;
}
